ipython>=8.12.3
librosa>=0.11.0
matplotlib>=3.10.8
numpy>=2.4.2
Pillow>=12.1.1
PyYAML>=6.0.3
soundfile>=0.13.1
fastai>=2.0.0
ipywidgets
ipykernel
matplotlib
librosa
nbdev>=0.2.12
pandas
scikit_learn
torch
soundfile
scipy